<%= button_to "MyTweetAppと連携", oauth_tweet_authorize_path, method: :get %>

<h1>写真一覧</h1>

<div class="container">
  <% if @images.empty? %>
    <p>写真がありません</p>
  <% end %>

  <% @images.each do |image| %>
    <div class="grid-item">
      <div>
        <%= image.title %>
      </div>
      <%= image_tag image.display_url %>
      <% if tweet_authenticated? %>
        <%= button_to "ツイートする", tweet_path, method: :post, params: { title: image.title, url: image.display_url } %>
      <% end %>
    </div>
  <% end %>
</div>
