<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= button_to "MyTweetAppと連携", oauth_tweet_authorize_path, method: :get %>
      <%= tweet_authenticated? %>

<div>
  <% ["aa", "bb", "cc"].each do |title| %>
    <div>
      <%= title %>
      <% if tweet_authenticated? %>
        <%= button_to "ツイートする", tweet_path, method: :post, params: { title: title } %>
      <% end %>
    </div>
  <% end %>
</div>
