/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.grid-item {
  text-align: center;
  aspect-ratio: 3/2;
  border: solid 1px #ccc;
  padding: 10px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-5 {
  padding: 5px;
}
